<md-sidenav-container fullscreen>
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center" fullscreen>

    <div fxFlex fxLayout="column" fxLayoutAlign="center" *ngIf="!result" style="margin-top:100px;">

      <img style="width:200px;margin:auto;" md-image src="assets/img/hanzo.png">
      <h1 fxFlex *ngIf="!spinner1 && !spinner2 && !spinner3" class="auto_margin">Should you pick Hanzo?</h1>
      <md-input-container *ngIf="!spinner1 && !spinner2 && !spinner3" #input style="width:200px;" class="auto_margin" color="accent" required>
        <input mdInput placeholder="Enter Username" value="">
      </md-input-container>
      <button md-raised-button style="margin:auto;width:100px;" *ngIf="!spinner1 && !spinner2 && !spinner3" color="primary" (click)="calculate()">
        Calculate
      </button>

      <div fxFlex class="auto_margin">
        <md-spinner *ngIf="spin" class="auto_margin" color="{{ color }}"></md-spinner>
        <div class="auto_margin" *ngIf="spinner1">
          <p style="font-size:20px;" *ngIf="spinner1 && !spinner2 && !spinner3" class="pulsate auto_margin">Fetching Data..</p>
        </div>
        <div class="auto_margin" *ngIf="spinner2">
          <p style="font-size:20px;" *ngIf="!spinner1 && spinner2 && !spinner3" class="pulsate auto_margin">Calculating Pro-Level..</p>
        </div>
        <div class="auto_margin" *ngIf="spinner3">
          <p style="font-size:20px;" *ngIf="!spinner1 && !spinner2 && spinner3" class="pulsate auto_margin">Finalizing Results..</p>
        </div>
      </div>

    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center" *ngIf="result">

      <div class="auto_margin">
        <div class="auto_margin" *ngIf="spinner1" style="text-align:center;">
          <h1 *ngIf="spinner1 && !spinner2 && !spinner3" class="auto_margin">
            No.
          </h1>
        </div>
        <div class="auto_margin" *ngIf="spinner2" style="text-align:center;">
          <h1 *ngIf="!spinner1 && spinner2 && !spinner3" class="auto_margin">
            Don't be that guy/gal.
          </h1>
        </div>
        <div class="auto_margin" *ngIf="spinner3" style="text-align:center;">
          <h1 *ngIf="!spinner1 && !spinner2 && spinner3" class="auto_margin">
            Be like Reinhardt!
            <br>
            Be a team player!
          </h1>
          <button style="margin:auto;width:100px;" md-raised-button *ngIf="done" color="primary" (click)="reset()">
            Reset
          </button>
          <button style="margin:auto;width:100px;" md-raised-button *ngIf="done" color="primary" (click)="sidenav.open()">
            Info
          </button>
        </div>
      </div>


    </div>
  </div>

  <md-sidenav #sidenav mode="over" align="end" style="width:50%;" fullscreen>
    <button md-raised-button color="primary" (click)=sidenav.close()>
      Close
    </button>
    <div class="auto_margin" style="width:80%;">
      <h2 class="auto_margin">About This Site</h2>
      <p class="auto_margin">
        This site is pure and utter nonsense and should be considered as such. It was made late at night after one too many games of
        Overwatch starring the not-so-rare “Pro Hanzo”, who instead of picking a tank or healer brags about his gold eliminations shortly
        before getting zapped down by Winston for the 28th time.
        <br>
        <br>
        This guide does obviously not apply to all Hanzo's. Some are out there pulling their weight by pushing the payload, taking
        out Torbjörns turret and delivering those headshots with a reasonable frequency.
        <br>
        <br>
        But if play Hanzo and don’t recognize any of
        the above *Hint hint*.
      </p>
    </div>
  </md-sidenav>

</md-sidenav-container>
